// Breadcrumbs Universal
.breadcrumb {
  li {
    color: #666;
    font-size: 0.875rem;
    a {
      color: #000;
    }
  }
}

// Catalog card

.goods-card {
  &.category {
    height: auto;
  }
  .btn-block {
    .add {
      display: block;
      width: 100%;
    }
  }
}

// Catalog container

.product {
  display: flex;
}

// Form box

.map-and-form-box {
  .map {
    max-width: 768px;
    width: 100%;
  }
  .form {
    max-width: 454px;
    width: 100%;
    padding: 10px 40px !important;
    h3 {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
    input[type="submit"] {
      font-weight: bold;
      font-size: 17px !important;
      color: #fff !important;
      background: linear-gradient(180deg,#DB1414 0%,#BA0D0D 100%) !important;
      border-radius: 4px !important;
      border: 0 !important;
      outline: 0 !important;
      padding: 15px 40px !important;
      cursor: pointer !important;
      display: block !important;
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      transition: 0.5s;
      overflow: hidden;
      max-width: 228px;
      &:hover {
        -webkit-border-radius: 4px !important;
        -moz-border-radius: 4px !important;
        border-radius: 4px !important;
        background: linear-gradient(180deg,#DB1414 0%,#DB1414 100%) !important;
      }
      &:disabled {
        cursor: not-allowed !important;
        opacity: .5;
      }
    }
  }
  .checkbox {
    display: flex;
    .wpcf7-form-control-wrap {
      display: flex;
      align-items: center;
    }
    .policy {
      line-height: 1;
      color: #000;
    }
  }
}

// Header and footer main menu

.main-header,
.main-footer
{
  .breadcrumb {
    .breadcrumb-list {
      display: flex;
      list-style-type: none;
      padding: 0;
      margin: 0;
      font-size: 11px !important;
      font-weight: bold;
      font-family: 'Nunito Sans', sans-serif;
      li {
        & + li {
          &:before {
            content: "/";
            margin: 0 1.3125rem;
            color: #515151;
          }
        }
        a {
          color: #9b9b9b;
          text-decoration: none;
          text-transform: uppercase;
          transition: .3s all ease;
          letter-spacing: 0.02em;
          font-size: 12px !important;
          &:hover {
            color: #fff;
          }
        }
      }
    }

  }
}

// Main page googs slider

.goods-slider {
  .slider {
    .uk-slidenav {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
